

html{
    background-color: grey;
    font-family: Calibri, "Myriad Pro", sans-serif;
    font-size: 14px;
}
body{
    width:600px;
    height: 100%;
    margin:20px auto;
    background-color: grey;
    
}
#formulaire{
    border:4px double #AAA;
    padding:10px;
    background-color: #CCC;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 4px -4px 5px #555;
}
#formulaire p{
    display:inline-block;
    
}
#formulaire label{
    display: block;
    margin-bottom:10px;
    text-align:center;
    font-size: 1.2em;
}
#url{
    width: 450px;
}
#chargement{
    display: none;
    border:4px double #211A0A;
    padding:10px;
    background-color: #444;
    margin:10px 0;
    color:white;
    position: relative;
    font-size:1.2em;
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 4px -4px 5px #555;
}
#chargement img{
    margin-top:10px; 
}
#erreur{
    font-size:1.2em;
    text-align: center;
}
#resultat{
    border:4px double #333333;
    padding:10px;
    background-color: #444;
    margin:10px 0;
    color:white;
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 4px -4px 5px #555;
}
#resultat a{
    color:#FF9326;
    text-decoration: none;
    font-weight: bold;
}
#resultat label{
    display:none;
}
.texte{
    display:inline-block;
    width:280px;
    margin:0 0 20px 26px;
}
.texte p, #articles p{
    padding-bottom: 10px;
}
.input_texte{
    display: none;
    width:280px;
    margin-bottom: 10px;
}
#modifier a{
    display: inline-block;
    width: 70px;
    height:20px;
    text-align: center;
    padding-top:5px;
    background-color: #666;
    color:white;
}
.add{
    display: inline-block;
    width: 70px;
    height:25px;
    text-align: center;
    background-color: #666;
    border:none;
    color:white;
    font-weight: bold;
}

#modifier a:hover, .add:hover{
    background-color: #222;
    color:#FF9326;
}
#resultat form{
    background-color: #444;
    border:none;
    padding:0;
}
#articles{
    border:4px double #aaa;
    padding:8px;
    margin-top:20px;
    background-color: #ccc;
    border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 4px -4px 5px #555;
}
.image
{
    display: inline-block;
    width: 250px;
    
}

.article{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 5px;
    padding: 10px 5px;
    
    color:#222;
    box-shadow:-1px -1px 0 rgba(150, 150, 150, 0.8),1px 1px 0 #EEE;
}
h2{
    font-size:1.4em;
    text-align:center;
    margin-top:15px;
    margin-bottom: 10px;
}
h3{
    color:red;
    margin-bottom: 10px;
}

#suivant{
    display:inline-block;
    float: right;
}

#articles a{
    color:#FF7700;
    text-decoration: none;
    font-weight: bold;
}

.auteur{
    margin-top: 25px;
    text-align:right;
}