*{vertical-align: top;}

html{
    background-color: #FFFEA8;
    font-family: Calibri, "Myriad Pro", sans-serif;
    font-size: 14px;
    background-image: url("../images/textured_stripes.jpg");
}
body{
    width:900px;
    height: 100%;
    margin:20px auto;    
}
.block{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 4px -4px 5px #555;
    
    
    background-color: #DDD598;
    border:4px double #AAA;
    padding:10px;
    margin-bottom: 15px;
}
#corps{
    width: 660px;
    display: inline-block;
    margin-right:9px;
}
#sidebar{
    width: 200px;
    display: inline-block;
}
#chargement, #resultat{
    border:4px double #9F882E;
    background-color: #E6CF75;
    position: relative;
}
#recherche{
    display: inline-block;
    width:630px;
    margin-right: 10px;    
}
#recherche p{
    display:inline-block;
    margin-top: 10px;
    padding-right:5px;
    font-size:1.2em;
    font-weight: bold;
    border-radius: 12px 0 0 12px;
    box-shadow: 1px -1px 0 rgba(0,0,0,0.3),0 1px 0 rgba(255, 255, 255, 0.8);
    color: #222;
    padding: 4px 11px;
 }
.entete{
    display: block;
    margin-bottom:10px;
    text-align:center;
    font-size: 2em;
    color:#B79322;
    text-shadow: -1px -1px 0 rgba(50, 50, 50, 0.8), 1px 1px 0 #EEEEEE;
}
#recherche label{
    font-size: 2.7em;
    font-weight: bold;
}
#url{
    width: 470px;
    height: 25px;
}
.analyse{
    background: #222;
    border-radius: 0px 12px 12px 0px;
    box-shadow:inset 1px -1px 0 rgba(0,0,0,0.3),0 1px 0 rgba(255, 255, 255, 0.8);
    color: #fff;
    line-height: 1;
    padding: 6px 11px 7px;
    text-decoration: none;
    border:none;
    cursor:pointer;
    margin-top: 10px;
    font-weight: bold;
}
#connexion{
    display: inline-block;
    width:205px;
    padding-left:20px;
    border-left:1px solid #AAA;
    text-align: right;
}
.deconnex a{
    text-decoration: none;
    font-size:0.6em;
    color:#222;
}
#erreur,#chargement{
    font-size:1.2em;
    text-align: center;
}
#chargement{
    display:none;
}
#chargement img{
    margin-top:10px; 
}
.image{
    display: inline-block;
    width: 250px;
    padding: 5px;
}
.image figure {
    min-height: 200px;
    text-align: center;
}
.image a{
    color: #FF9326;
    font-weight: bold;
    text-decoration: none;
}
#suivant{
    display:inline-block;
    float: right;
}
.texte{
    display:inline-block;
    width:330px;
    margin:20px 0 30px 26px;
}
.titre{
    color: white;
}
#modifier a {
    background: none repeat scroll 0 0 #111111;
    border-radius: 12px 12px 12px 12px;
    bottom: 13px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    font-weight: normal;
    line-height: 1;
    padding: 4px 10px;
    font-size: 1.1em;
    position: absolute;
    text-decoration: none;
}
#resultat label{
    display:none;
    color:#FFF;
}
#resul_titre a{
    color: #FF9326;
    font-weight: bold;
    text-decoration: none;
}
.input_texte{
    display: none;
    width:335px;
    margin-bottom: 10px;
}
.add{
     background: #111;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    line-height: 1;
    padding: 4px 11px 4px;
    position: absolute;
    text-decoration: none;
    bottom: 13px;
    right:13px;
    border:none;
    cursor:pointer;
    margin-top: 10px;
}
article{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 25px;
    padding: 10px 5px;
    position: relative;
    color:#222;
    box-shadow:-1px -1px 0 rgba(150, 150, 150, 0.8),1px 1px 0 #EEE;
}
.delete{    
    background: #CCC;
    border-radius: 0px 0px 2px 12px;
    box-shadow: 0px 1px 0 #EEE,-1px 1px 0 #AAA;
    color: #222;
    line-height: 1.5em;
    padding: 6px 10px 6px;
    position: absolute;
    right:-1px;
    text-decoration: none;
    top: -1px;
    font-weight: bold;
}
.delete:hover{
    color:#666;
}
.titre_article{
    color:#FF9326;
    text-decoration: none;
}
.bouton{
    font-size:1.2em;
    margin-bottom: 20px;
    font-weight: bold;
}
.bouton a{
    display:inline-block;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1),0px -1px 0 rgba(0, 0, 0, 0.8);
    font-weight: normal;
    text-align: center;
    background: #222;
    border-radius: 12px;
    color: #FFFFFF;
    line-height: 1;
    padding: 4px 11px 4px;
    text-decoration: none;
    cursor:pointer;
    margin-top: 10px;
}
#modifier a:hover, .add:hover, .connex:hover, .bouton a:hover, .analyse:hover{
    background-color: #333;
    color:#FF9326;
    box-shadow:inset 0 1px 0 rgba(0, 0, 0, 0.7);
}
/*********Sidebar***************/
#sidebar ul{
    padding: 0;
}
#sidebar li{
    list-style: none;
    padding:5px 3px;
}
#sidebar li+li{
    border-top:1px solid #AAA;
}
#sidebar li:before{
    
}
#sidebar li:hover{
    background-color: #AAA;
}
#sidebar a:first-child{
    text-decoration: none;
    color:#000;
    display: inline-block;
    width:170px;
}
#sidebar a+a{
    display: inline-block;
    float: right;
}
#member{
    text-align: center;
    position: relative;
}
#member form{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow:-1px -1px 0 rgba(150, 150, 150, 0.8),1px 1px 0 #EEE;
    padding: 20px;
}
#member label{
    display: inline-block;
    width: 100px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 1.2em;
    color:#222;
}
#member input{
    box-shadow:-1px -1px 0 rgba(150, 150, 150, 0.8),1px 1px 0 #EEE;
}