*{vertical-align: top;}
html{
    background-color: #000;
    width: 100%;
    font-family: Calibri, "Myriad Pro", sans-serif;
    font-size: 14px;
}
body{
    max-width:900px;
    min-width: 250px;
    height: 100%;
    margin:0 auto;
    background-color: transparent;
}
#header{
    height: 50px;
    background-image: url("../images/header2.jpg");
    text-align: center;
    position: relative;
    border-bottom: 1px solid #333;
}
#header h1{
    color:#eee;
    text-shadow: -1px -1px 0 #222,1px 1px 0 #fff;
    font-size: 2.5em;
}
#member,#inscription{
    text-align: center;
    position: relative;
    border:2px solid white;
    margin:15px;
    border-radius: 5px;
    padding-bottom: 30px;
}
#member form, #inscription form{
        padding: 20px 30px;
}
#member label, #inscription label{
    background-color: darkred;
    color:beige;
    display:inline-block;
    -moz-box-shadow: inset 1px 2px 0 rgba(0,0,0,0.5),inset -1px -2px 0 rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 1px 2px 0 rgba(0,0,0,0.5),inset -1px -2px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 1px 2px 0 rgba(0,0,0,0.5),inset -1px -2px 0 rgba(255, 255, 255, 0.3);
    font-size:1.2em; 
    padding: 5px 11px;
}
#member input, #inscription input{
    padding:5px;
    height: 25px;
    margin-bottom: 30px;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    box-sizing:border-box;
    -moz-box-shadow:-1px -1px 0 rgba(150, 150, 150, 0.8),1px 1px 0 #EEE;
    -webkit-box-shadow:-1px -1px 0 rgba(150, 150, 150, 0.8),1px 1px 0 #EEE;
    box-shadow:-1px -1px 0 rgba(65,15,0,0.3),1px 1px 0 rgba(255,255,255,0.5);
    border:none;
}
a{
    text-decoration: none;
}
.connex{
    background: #111;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    height: 30px;
    color: #FFFFFF;
    line-height: 1;
    padding: 4px 11px 4px;
    text-decoration: none;
    border:none;
    cursor:pointer;
    margin-top: 10px;
}
.inscription{
    color:#ffffff;
    border:1px solid white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding:5px;
    cursor: pointer;
 }
 .inscription:hover{
     background-color: #222;
     border:1px solid black;     
 }
 #modifier a:hover, .add:hover, .connex:hover, .bouton a:hover, .analyse:hover{
    background-color: #333;
    color:#FF9326;
    -moz-box-shadow:inset 0 1px 0 rgba(0, 0, 0, 0.7);
    -webkit-box-shadow:inset 0 1px 0 rgba(0, 0, 0, 0.7);
    box-shadow:inset 0 1px 0 rgba(0, 0, 0, 0.7);
}
.entete{
    display: block;
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
    font-size: 2em;
    color:white;
    text-shadow: 0px 1px 2px #AAAAAA, 0px 1px 2px #000000, 1px 1px 1px #AAA;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
}

/*---plus grand que tablette---*/
@media only screen and (min-width:768px){
    html{
        background: url("../images/fond.jpg") top center no-repeat black;
    }
    #member label{
    line-height: 33px;
    }
    #member label, #inscription label{
        text-align:right;
        -moz-border-radius: 12px 0 0 12px;
        -webkit-border-radius: 12px 0 0 12px;
        border-radius: 12px 0 0 12px;
        margin-bottom: 20px;
        padding-right:5px;
        width: 140px;
        height: 34px;
    }
    #member input, #inscription input{
        width: 250px;
        height: 42px;
        margin-top:1px;
    }
   
    
}
/*---Tablette et plus petit---*/
@media only screen and (max-width:767px), only screen and (max-device-width: 767px){
    #header nav{
        position: absolute;
        top: 5px;
        right: 5px;
        width:35px;
        height:28px;
        padding-top:7px;
    }
    .bouton_header:hover, .bouton_header:hover:active{
        border:1px solid black;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        -moz-box-shadow: 0 0 2px #000;
        -webkit-box-shadow: 0 0 2px #000;
        box-shadow: 0 0 2px #000;
        background-color: #333; color:red;
    }
    .deconnex{
        position:absolute;
        right:45px;
        top:5px;
        width:35px;
        height:31px;
        padding-top:4px;
        overflow:hidden;
    }
    .deconnex a{
        font-size:1.9em;
        color:orange;
        margin-left: -1px;
        line-height: 27px;
    }
    .deconnex a:hover{
        color:red;
    }
    #member label, #inscription label{
         -moz-border-radius: 12px 12px 0 0;
         -webkit-border-radius: 12px 12px 0 0;
         border-radius: 12px 12px 0 0;
         -margin-bottom: 0;
         width:100%;
         text-align: center;
         -padding-left:0;
         -padding-right: 0;
         -moz-box-sizing:border-box; /* Firefox */
         -webkit-box-sizing:border-box; /* Safari */ 
         box-sizing:border-box; 
     }
     #member input, #inscription input {
        width: 100%;
        margin-bottom: 30px;
    }
    
}

/*---tablette---*/    
@media only screen and (min-width:480px) and (max-width:767px), only screen and (min-device-width: 480px)and (max-device-width:767px){/*------tablette-----*/
    html{
        background: url("../images/fond-tablette.jpg") top center no-repeat black;
    }
}
/*---plus grand que mobile---*/
@media only screen and (min-width:480px), only screen and (min-device-width: 480px){
    
    
}
/*---mobile---*/
@media only screen and (max-width:479px), only screen and (max-device-width: 479px){/*------mobile-----*/
    html{
        background: url("../images/fond-phone.jpg") top center no-repeat black;
    }
    body{
         -moz-transition: all 0.3s linear;
         -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
         transition: all 0.3s linear;
         margin:0;
         height: 100%;
    }
    
   /*//////////////////////////////////////
   ////////////////CLASS///////////////////
   //////////////////////////////////////*/
     .mobile_cache{
     display:none;
     }


}